.bg-gradient-blue-info {
    background: #1f1498!important;
    background: linear-gradient(45deg,#321fdb,#1f1498)!important;
    border-color: #1f1498!important;
    border:0px !important;

    .card-body
    {
        border:0px !important;
    }

}
.bg-gradient-lblue-info {
    background: #2982cc!important;
    background: linear-gradient(45deg,#39f,#2982cc)!important;
    border-color: #2982cc!important;
    border:0px !important;
    .card-body
    {
        border:0px !important;
    }
}
.bg-gradient-orange-warning {
    background: #f6960b!important;
    background: linear-gradient(45deg,#f9b115,#f6960b)!important;
    border-color: #f6960b!important;
    border:0px !important;
    .card-body
    {
        border:0px !important;
    }
}
.bg-gradient-red-warning {
    background: #d93737!important;
    background: linear-gradient(45deg,#e55353,#d93737)!important;
    border-color: #d93737!important;
    border:0px !important;
    .card-body
    {
        border:0px !important;
    }
}

.text-value-lg {
    font-size: 1.3125rem;
}

.bg-gradient-blue-info1 {
    background: linear-gradient(45deg,#321fdb,#1f1498)!important;
}